

body {
  height:auto;
  width:auto;
  margin:20px;
  background-image: url("./bg.jpg");
  /*background-size: 20%;
  //background-repeat: repeat-x, repeat-y; */
  background-size: 100%;
}
